.navigation {
  padding-top: 25px;
  padding-bottom: 10px;
  padding-left: 25px;
  text-align: start;
  padding-right: 10px;
}
.loginMenu {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  text-align: end;
  padding-right: 10px;
  width: 100%;
  display: flex;
  align-items: baseline;
}

.span {
  margin-left: 10px;
  margin-right: 10px;
  color: black;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
}

.active {
  color: white;
}

.button {
  color: white;
  width: 100px;
  display: inline-block;

  margin-right: 10px;
  margin-left: auto;
  margin-top: 10px;
  font-size: 14px;
  background-color: rgb(56, 56, 56);
  border-radius: 3px;
  height: 30px;
  border-color: transparent;
  cursor: pointer;
  outline: none;

  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1),
    -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
  transform: scale(1.05);
}

.userWelcome {
  margin-left: 15px;
  color: black;
  font-size: 18px;
}
.userName {
  font-size: 20px;
  font-weight: 500;
}
